In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame()
df = pd.read_csv(r"extremeT95_48201_2019_type.csv")
df

     Unnamed: 0        Date    type  Tmin_C  Tmax_C
0             0  2019-01-01  Normal    4.90   15.19
1             1  2019-01-02  Normal    8.16   12.11
2             2  2019-01-03  Normal    3.51   11.04
3             3  2019-01-04    Tmin    2.01   15.56
4             4  2019-01-05  Normal    3.86   20.18
..          ...         ...     ...     ...     ...
360         360  2019-12-27  Normal   12.77   21.44
361         361  2019-12-28  Normal   16.58   23.77
362         362  2019-12-29  Normal    9.56   19.04
363         363  2019-12-30  Normal    4.54   15.11
364         364  2019-12-31    Tmin    2.43   14.68

[365 rows x 5 columns]

In [3]:
d1 = pd.DataFrame()
d1 = pd.read_csv(r"dailyOD_Houston_2019.csv")
d1

,Unnamed: 0,geoid_o,geoid_d,lng_o,lat_o,lng_d,lat_d,pop_flows,Date
0,0,48201341000,1.001021e+09,-95.141225,29.551025,-86.732224,32.456029,23.0,2019-01-01
1,1,48201341000,2.207101e+10,-95.141225,29.551025,-90.071387,29.948849,11.0,2019-01-01
2,2,48201341000,1.306398e+10,-95.141225,29.551025,-84.432578,33.635006,23.0,2019-01-01
3,3,48201341000,3.718992e+10,-95.141225,29.551025,-81.662987,36.197815,11.0,2019-01-01
4,4,48201341000,4.816772e+10,-95.141225,29.551025,-95.059665,29.455328,11.0,2019-01-01
...,...,...,...,...,...,...,...,...,...
101539459,8501927,48201453502,3.611900e+10,-95.598241,29.671162,-73.898226,40.926363,16.0,2019-12-31
101539460,8501928,48201453502,4.820142e+10,-95.598241,29.671162,-95.532108,29.664435,16.0,2019-12-31
101539461,8501929,48201453502,4.820143e+10,-95.598241,29.671162,-95.548385,29.698388,16.0,2019-12-31
101539462,8501930,48201453502,4.820152e+10,-95.598241,29.671162,-95.524978,29.854347,16.0,2019-12-31
101539463,8501931,48201453502,4.820155e+10,-95.598241,29.671162,-95.458552,29.957263,33.0,2019-12-31

In [4]:
#根据Date附上对应日期的type
final = pd.merge(df,d1,how='right',on='Date')
final

,Unnamed: 0_x,Date,type,Tmin_C,Tmax_C,Unnamed: 0_y,geoid_o,geoid_d,lng_o,lat_o,lng_d,lat_d,pop_flows
0,0,2019-01-01,Normal,4.90,15.19,0,48201341000,1.001021e+09,-95.141225,29.551025,-86.732224,32.456029,23.0
1,0,2019-01-01,Normal,4.90,15.19,1,48201341000,2.207101e+10,-95.141225,29.551025,-90.071387,29.948849,11.0
2,0,2019-01-01,Normal,4.90,15.19,2,48201341000,1.306398e+10,-95.141225,29.551025,-84.432578,33.635006,23.0
3,0,2019-01-01,Normal,4.90,15.19,3,48201341000,3.718992e+10,-95.141225,29.551025,-81.662987,36.197815,11.0
4,0,2019-01-01,Normal,4.90,15.19,4,48201341000,4.816772e+10,-95.141225,29.551025,-95.059665,29.455328,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101539459,364,2019-12-31,Tmin,2.43,14.68,8501927,48201453502,3.611900e+10,-95.598241,29.671162,-73.898226,40.926363,16.0
101539460,364,2019-12-31,Tmin,2.43,14.68,8501928,48201453502,4.820142e+10,-95.598241,29.671162,-95.532108,29.664435,16.0
101539461,364,2019-12-31,Tmin,2.43,14.68,8501929,48201453502,4.820143e+10,-95.598241,29.671162,-95.548385,29.698388,16.0
101539462,364,2019-12-31,Tmin,2.43,14.68,8501930,48201453502,4.820152e+10,-95.598241,29.671162,-95.524978,29.854347,16.0
101539463,364,2019-12-31,Tmin,2.43,14.68,8501931,48201453502,4.820155e+10,-95.598241,29.671162,-95.458552,29.957263,33.0

In [5]:
final1 = final.drop(columns=['Unnamed: 0_x','Unnamed: 0_y'])
final1

,Date,type,Tmin_C,Tmax_C,geoid_o,geoid_d,lng_o,lat_o,lng_d,lat_d,pop_flows
0,2019-01-01,Normal,4.90,15.19,48201341000,1.001021e+09,-95.141225,29.551025,-86.732224,32.456029,23.0
1,2019-01-01,Normal,4.90,15.19,48201341000,2.207101e+10,-95.141225,29.551025,-90.071387,29.948849,11.0
2,2019-01-01,Normal,4.90,15.19,48201341000,1.306398e+10,-95.141225,29.551025,-84.432578,33.635006,23.0
3,2019-01-01,Normal,4.90,15.19,48201341000,3.718992e+10,-95.141225,29.551025,-81.662987,36.197815,11.0
4,2019-01-01,Normal,4.90,15.19,48201341000,4.816772e+10,-95.141225,29.551025,-95.059665,29.455328,11.0
...,...,...,...,...,...,...,...,...,...,...,...
101539459,2019-12-31,Tmin,2.43,14.68,48201453502,3.611900e+10,-95.598241,29.671162,-73.898226,40.926363,16.0
101539460,2019-12-31,Tmin,2.43,14.68,48201453502,4.820142e+10,-95.598241,29.671162,-95.532108,29.664435,16.0
101539461,2019-12-31,Tmin,2.43,14.68,48201453502,4.820143e+10,-95.598241,29.671162,-95.548385,29.698388,16.0
101539462,2019-12-31,Tmin,2.43,14.68,48201453502,4.820152e+10,-95.598241,29.671162,-95.524978,29.854347,16.0
101539463,2019-12-31,Tmin,2.43,14.68,48201453502,4.820155e+10,-95.598241,29.671162,-95.458552,29.957263,33.0

In [6]:
final1.to_csv('dailyOD_Houston_2019.csv')